@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>Hotellet</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Mail:</strong>   <a href="mailto:Support@hotellet.com">Support@example.com</a><br />
    <strong>Telefon:</strong> 070-776 54 43
</address>