@model Domain.Entities.Category

@{
    ViewBag.Title = "AddCategory";
}

<h2>Add a new category</h2>

@using (Html.BeginForm("AddCategory", "Admin", FormMethod.Post))
{
    <fieldset>
        <div class="editor-label">
            Name
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Name)
        </div>
        <div class="editor-label">
            Description
        </div>
        @Html.TextAreaFor(model => model.Description)
        <br /><br />
        <input type="submit" value="Save" />
    </fieldset>
}