@{
    Layout = null;
}

<div>
    <br />
    @Html.ActionLink("Kategorier", "Categories")
    <br />
    @Html.ActionLink("Rum", "Room")
    <br />
    @Html.ActionLink("Kampanjer", "DiscountOffer")
    <br />
    <hr />
    @Html.ActionLink("Anställda", "Employees")
</div>

