@using Domain.Entities;
@model IEnumerable<Domain.Entities.Category>

@{
    ViewBag.Title = "Kategorier";
    Layout = "AdminLayout.cshtml";
}

<h2>Kategorier</h2>


@foreach (Category category in Model)
{ 
    <text>
    @Html.ActionLink(category.Name,"Category",new {id=category.Id})
    <br />
    </text>
}


<br /><br />
@Html.ActionLink("Skapa ny kategori", "AddCategory", new { }, new { @class="btn btn-info"})