@using Domain.Entities;
@model IEnumerable<Domain.Entities.Category>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


@foreach (Category category in Model)
{ 
    <text>
    @Html.ActionLink(category.Name,"Category",new {id=category.Id})
    <br />
    </text>
}


<br /><br />
@Html.ActionLink("New Category","AddCategory")